<%= render_partial 'form_messages.erb' -%>
      <form class="signin" action="/signin" method="POST">
        <h2 class="fs-title">Sign In</h2>
        <fieldset class="fs">
          <label for="email">Email Address</label>
          <input class="fs-top fs-full <%= error_class('email') %>" type="email" name="email"
                 id="email" value="<%= posted['email'] %>" placeholder="johndoe@me.com" />
          <label for="password">Password</label>
          <input class="fs-bottom fs-full <%= error_class('password') %>" type="password"
                 name="password" id="password" value="" placeholder="****" />
        </fieldset>
        <button class="btn btn-full btn-create" type="submit">Sign In</button>
      </form>
