    <header class="hat">
      <%- if @dealership -%>
      <h1 class="hat-title"><a class="logo" href="/admin/<%= @dealership.id %>">Lynr</a></h1>
      <a class="menu-link" href="/menu/<%= @dealership.id %>">Menu</a>
      <%- else -%>
      <h1 class="hat-title"><a class="logo" href="/">Lynr</a></h1>
      <%- end -%>
    </header>
    <%- if @dealership -%>
<%= render_partial :menu_admin -%>
    <%- end -%>
