    <header>
      <h1 class="logo">Lynr</h1>
      <a class="menu-link" href="/menu">Menu</a>
    </header>
    <nav class="menu">
      <input class="menu-search" type="text" placeholder="Search" />
      <ul>
        <li class="menu-item">
          <img class="menu-item-icon" src="/img/blank.gif" alt="" />
          <span class="menu-item-name">Carmax San Diego</span>
        </li>
        <li class="menu-item">
          <img class="menu-item-icon" src="/img/blank.gif" alt="" />
          <span class="menu-item-name">Add Vehicle</span>
        </li>
        <li class="menu-item">
          <img class="menu-item-icon" src="/img/blank.gif" alt="" />
          <span class="menu-item-name">Manage Vehicles</span>
        </li>
        <li class="menu-item">
          <img class="menu-item-icon" src="/img/blank.gif" alt="" />
          <span class="menu-item-name">Account Settings</span>
        </li>
        <li class="menu-item">
          <img class="menu-item-icon" src="/img/blank.gif" alt="" />
          <span class="menu-item-name">Contact Us</span>
        </li>
      </ul>
    </nav>
