    <nav class="menu menu-vehicle menu-secondary">
      <ul class="menu-items">
        <li class="menu-item">
          <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/edit">
            <img class="menu-item-icon" src="/img/blank.gif" alt="" />
            <span class="menu-item-name">Edit Vehicle</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="/admin/<%= @dealership.slug %>/<%= @vehicle.slug %>/delete">
            <img class="menu-item-icon" src="/img/blank.gif" alt="" />
            <span class="menu-item-name">Delete Vehicle</span>
          </a>
        </li>
      </ul>
    </nav>
