      <form class="signup" action="/signup" method="POST">
        <fieldset class="fs">
          <label for="name">Dealership Name</label>
          <input class="fs-top fs-full" type="text" name="name"
                 id="name" value="" placeholder="Carmax San Diego" />
        </fieldset>
      </form>
