<%= render_partial('component/pagination.erb', {
      pages: @pages,
      uri:   "/admin/#{@dealership.slug}?page=",
    })
%>
        <div class="vehicles">
          <%- @vehicles.each do |vehicle| -%>
<%= render_partial('vehicle/listing.erb', {
      inventory: true,
      dealership: @dealership,
      vehicle: vehicle,
    })
%>
          <%- end -%>
          <a class="vehicles-add" href="/admin/<%= @dealership.slug %>/vehicle/add">+</a>
        </div>
