@font_stack: "Montserrat", "Helvetica Neue", "Helvetica", Arial, sans-serif;

h1 { font-size: 1.500rem; }
h2 { font-size: 1.125rem; }
p { margin: 1.5rem 0 0; font-size: 1rem; }
a { color: @font_color; text-decoration: none; }
