        <p>Lynr is a cloud inventory tool and CRM sales assistant for the pre-owned automobile industy.</p>
        <p>We set out to make something simple and efficient that would help you focus on what you do best, building great relationships and closing deals.</p>
        <p>Your first 30 days are free to ensure Lynr is right for you. After that $99/month.</p>

        <form class="signup" action="/signup" method="POST">
          <fieldset class="fs">
            <label for="email">Email Address</label>
            <input class="fs-full <%= error_class('email') %>" type="email" name="email"
                   id="email" placeholder="Your email address"
                   autocomplete="email" autocompletetype="email"
                   value="<%= posted['email'] %>" />
          </fieldset>
          <button class="btn btn-full btn-positive">Sign Up</button>
        </form>
