.cane
.ctrlp
.env*
.vagrant*
!.giturd
/config/*.yaml
!/config/*.example.yaml
!/config/*.heroku.yaml
!/config/*.wercker.yaml
!/config/*.spec.yaml
/dist/
/node_modules/
/public/css/*.css
/public/svg/*.svg
/vendor/
/vm/
