<p class="header">
  <img src="//<%= domain %>/img/icon/wordmark-white.png" />
</p>
<h1>Lynr.co Account Created</h1>

<p>
  No action is necessary. This email is only to inform you an account
  associated with this email address has been created. If you did not
  create an account at <a href="<%= url %>"><%= url %></a>
  please contact support at <%= support_email %>.
</p>


<p>
  <em>Signed,</em><br />
  <strong>Lynr Robot</strong>
</p>
