<p class="header">
  <img src="<%= base_url %>/img/icon/wordmark-white.png" />
</p>
<h1>Lynr.co Account Modified</h1>

<p>
  This email is to inform you an account associated with this email
  address has been modified and the email address changed. This email
  address will no longer be able to be used to login. If you did not
  make this change please contact support at <%= support_email %>.
</p>


<p>
  <em>Signed,</em><br />
  <strong>Lynr Robot</strong>
</p>
