<p class="header">
  <img src="<%= base_url %>/img/icon/wordmark-white.png" />
</p>
<p>
  We hope Lynr is making your lot a better place,
</p>
<p>
  We just wanted to send a note and let you know your trial period is
  coming to an end. Hopefully you've been spending a whole lot less time
  doing inventory and sales tasks and a whole lot more selling cars.
  We're happy to have you around. If you need anything please let us know
  by sending a note to <%= support_email %>.
</p>
<div class="footer">
  <a href="<%= base_url %>/legal/terms">Terms &amp; Conditions</a> |
  <a href="<%= base_url %>/legal/privacy">Privacy Policy</a> |
  <span>&copy; 2014 Lynr, LLC</span>
</div>
