        <p>
          Lynr is a cloud inventory tool and CRM sales assistant for the
          pre-owned automobile industy.
        </p>
        <p>
          We set out to make something simple and efficient that would
          help you focus on what you do best, building great relationships
          and closing deals.
        </p>
        <p>
          Your first 30 days are free to ensure Lynr is right for you.
          After that $99/month.
        </p>
        <nav class="auth">
          <a class="btn btn-full btn-positive btn-signin" href="/signin" title="Sign In">Sign In</a>
          <a class="btn btn-full btn-positive btn-signup" href="/signup" title="Sign Up">Sign Up</a>
        </nav>
