      <nav class="">
        <a class="btn btn-half btn-signin" href="/signin" title="Sign In">Sign In</a>
        <a class="btn btn-half btn-signup" href="/signup" title="Sign Up">Sign Up</a>
      </nav>
      <div class="video">
        <iframe class="video-frame" src="http://player.vimeo.com/video/62468031" width="2000" height="1124" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <h1 class="intro">Lynr is a cloud based inventory tool and social CRM / sales assistant for the pre-owned automobile industry.</h1>
      <a class="btn btn-full btn-tour" href="/signin?e=demo@lynr.co&p=1234" title="Take A Tour">Take A Tour</a>
