      <p>Lynr is a cloud inventory tool and CRM sales assistant for the pre-owned automobile industy.</p>
      <p>We set out to make something simple and efficient that would help you focus on what you do best, building great relationships and closing deals.</p>
      <p>Take a tour, and your first 30 days are free to make sure Lynr is right for you.</p>

      <nav class="auth">
        <a class="btn btn-full btn-positive btn-signin" href="/signin" title="Sign In">Sign In</a>
        <a class="btn btn-full btn-positive btn-signup" href="/signup" title="Sign Up">Sign Up</a>
      </nav>
