.icon-add-photo {
	background-image: url('/img/icon/add-photo.png');
	background-repeat: no-repeat;
}
.icon-menu {
	background-image: url('/img/icon/menu.png');
	background-repeat: no-repeat;
}
.icon-wordmark-white {
	background-image: url('/img/icon/wordmark-white.png');
	background-repeat: no-repeat;
}
.icon-wordmark {
	background-image: url('/img/icon/wordmark.png');
	background-repeat: no-repeat;
}
