<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @title %></title>
  </head>
  <body>
<%= render_file 'partials/header.erb' %>
<%= @content %>
<%= render_file 'partials/footer.erb' %>
  </body>
</html>
