form.account-photo, form.account, section.accounts { margin-left: @margin_width; margin-right: @margin_width; }

.fs-photo-account { margin: 0 auto; max-width: 160px; max-height: 160px; }
.account-photo .btn { display: none; }
.fs-photo-account .photo-preview { .border_radius_a(80px); }
.fs-photo-account .photo-preview-empty {
  border: 6px solid #fff; max-width: 148px; max-height: 148px;
  .bg("icon/add-photo.png", center, center);
}

.accounts .btn { margin: 1rem 0 0; font-size: @input_font_size; }
.accounts .btn:nth-child(2n+1) { clear: both; }
.accounts .btn:nth-child(2n) { float: right; }
