label[for=agree_terms] { display: block; text-align: right; font-size: 0.75rem; }
label[for=agree_terms] a { text-decoration: underline; }
label[for=agree_terms] a:hover { color: @brand_color; }
label[for=agree_terms] .scheckbox { top: 0.5rem; margin-left: 0.5rem; }

#card_expiry { width: 48.571428571%; }
#card_expiry .fs-half {
  position: relative; width: 50%;

  &:focus { z-index: 5; }
}
#card_cvv { float: right; width: 48.571428571%; }
