.vehicle { margin-top: 1.25rem; }
.vehicle-image { display: block; border: 0.75rem solid @accent_color; max-width: 100%; .border_box(); }
.vehicle-title {
  padding: 1rem;
  color: @accent_color; text-align: right; text-transform: uppercase; background: @brand_color;
}
.vehicle-title > a { display: block; position: relative; color: @accent_color; }
.vehicle-name, .vehicle-price { display: block; }
.vehicle-name { position: absolute; left: 0; font-size: 0.875rem; line-height: 1.285714286; }
.vehicle-price { position: relative; padding-right: 1rem; line-height: 1; }
.vehicle-price:after {
  content: '›'; display: block; position: absolute; bottom: -0.05rem; right: 0;
  font-size: 1.5rem;
}
