        <div class="content">
          <p>
            We appreciate you going and looking for a way to pay for Lynr.
          </p>
          <p>
            If you'd like to convert your demo account to a paid account
            please contact support by sending an email to
            <a href="mailto:<%= Lynr.config('app').support_email %>"><%= Lynr.config('app').support_email %></a>.
            We're excited to continue working with you.
          </p>
        </div>
