@import "includes.less";
@import "includes/reset.less";

/* General Styles */
/** Layout **/
.window { position: relative; width: 100%; min-height: 88vh; overflow: hidden; }
.main { position: relative; margin: 0 3.125%; padding: 0.5rem 0 0; .border_box(); .clearfix(); }
/*** Layout -- Markdown Block ***/
.md h1 { font-size: 1.75rem; }
.md h2 { font-size: 1.5rem; }
.md h1, .md h2, .md h3 {
  margin: 0 0 1rem; font-weight: 300; line-height: 1;
}
.md p, .md table { margin: 0 0 1rem; }
.md table {
  display: table; empty-cells: hide; table-layout: fixed; border-collapse: collapse;
  margin: -1px 0 23px; background: rgba(0,0,0,0.05); padding: 0; width: 100%;
}
.md tbody { display: table-row-group; background: rgba(0,0,0,0.05); }
.md tr { display: table-row; }
.md tr:nth-child(odd) { background: rgba(255,255,255,0.06); }
.md tr:nth-child(even) { background: rgba(0,0,0,0.06); }
.md tr:hover { background: rgba(0,0,0,0.16); }
.md thead tr { background: rgba(255,255,255,0.06) !important; }
.md th { font-weight: bold; }
.md td, .md th { display: table-cell; padding: 0.5em 1em; }
.md ul, .md ol { margin: 0 0 1rem; padding: 0 0 0 4%; }
.md ul { list-style: disc outside; }
.md ol { list-style: decimal outside; }
.md li { margin: 0 0 1rem; }
.md a { color: #e74d00; }
.md a:hover { text-decoration: underline; }
/** Header **/
.hat {
  position: relative; min-height: 6.875rem; height: 12vh;
  .linear_gradient(#ff5600, #d24400, #ff6600);
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.17), 0 0 5px 0 #000;
}
.hat-title { width: 100%; min-height: 6.875rem; height: 12vh; text-align: center; }
.logo {
  display: inline-block; width: 10%; min-height: 6.875rem; height: 12vh; min-width: 130px;
  text-indent: 100%; .bg("logo-lynr.png", center, center); overflow: hidden;
}
.menu-link {
  display: inline-block; position: absolute; top: 0; width: 10%; height: 100%; min-width: 130px;
}
.menu-link-primary { left: 0; }
.menu-link-secondary { right: 0; }
/*** Layout - Menu ***/
.menu {
  position: absolute; border-bottom: 1px solid #fff; width: 75%; height: 100%;
  .border_box(); overflow: hidden;
}
.menu-primary { left: -75%; border-right: 1px solid #707070; }
.menu-secondary { left: 100%; border-left: 1px solid #707070; }
.menu-active {
  .main, .menu-primary, .menu-secondary {
    .transition(left 0.5s);
    .transition_timing(cubic-bezier(.24,.54,.45,.91));
  }
}
.menu-search-wrapper { display: block; margin: 0.5rem 2.803738318%; }
.menu-search {
  .border_radius_a(1rem); padding: 0 6.5420561%; width: 86.9158878%; height: 2em;
  font-size: 1rem; font-weight: normal;
  .box_shadow(0px, 1px, 2px, 2px, rgba(0,0,0,0.25), inset);
}
.menu-item {
  position: relative; border-top: 1px solid #fff; border-bottom: 1px solid #ccc;
  padding: 1.875rem 3.258655804% 1.25rem 22.040816327%;
  font-size: 2.75rem; font-weight: 100;
}
.menu-item-icon { display: none; }
.menu-visible-primary {
  .menu-primary { left: 0; }
  .main { left: 75%; }
}
.menu-visible-secondary {
  .menu-secondary { left: 25%; }
  .main { left: -75%; }
}
.menu-account .menu-items { border-top: 1px solid #ccc; }
.menu-vehicle .menu-item:first-child { border-top: 0; }
.menu-item-dealership {
  .menu-item-icon {
    display: block; position: absolute; top: 50%; left: 3.258655804%;
    .border_radius_a(38px); margin: -38px 0 0; border: 3px solid #fff; width: 70px; height: 70px;
    .box_shadow(2px, 2px, 2px, 0px, rgba(0,0,0,0.6));
  }
}
/** Buttons **/
.btn {
  display: inline-block; border: 1px solid #fff; .border_radius_a(6px); padding: 1.25rem 0 0.9375rem;
  height: 5.625rem; text-align: center; /*text-shadow: 0px 1px 1px rgba(0,0,0,0.4);*/
  font-family: @font_stack; font-size: 2.25rem; font-weight: 100; color: lighten(@font_color, 40%);
  .linear_gradient(#ffffff, @bg_color); .outer_glow(rgba(0,0,0,0.15)); .border_box();

  &:hover { .linear_gradient(@bg_color, #ffffff); }
}
.btn-full { width: 100%; }
.btn-half { width: 45.3125%; }
.btn-inline { position: absolute; top: 0; right: 0; padding-left: 2%; padding-right: 2%; }
.btn-delete {
  border-color: @highlight; color: lighten(@highlight, 35%);
  .linear_gradient(lighten(@highlight, 10%), darken(@highlight, 10%));

  &:hover { .linear_gradient(darken(@highlight, 10%), lighten(@highlight, 10%)); }
}
/** Form **/
#messages {
  position: relative; left: -3.333333333%; width: 106.666666667%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}
#messages.empty { display: none; }
.msg { padding: 0 3.125%; font-size: 2rem; line-height: 2; }
.msg:last-child { border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.msg-error { color: @error; }
.msg-error:before { content: '* '; color: @error; }
.fs {
  position: relative; .border_radius_a(6px);
  background: #e4e4e4; .box_shadow(0px, 1px, 5px, 2px, rgba(0, 0, 0, 0.5), inset);
  .clearfix();

  label, .label { display: none; }
  input, .input {
    padding: 1.875rem 5%; height: 5.625rem; color: #000;
    font-size: 2.25rem; font-family: @font_stack; font-weight: 100; line-height: 1;
    background: transparent; .border_box(); outline: none;

    &:focus { outline: 3px solid @highlight; }
  }

  textarea, .textarea {
    padding: 1.875rem 5%; height: 5.625rem; min-height: 11em; color: #000;
    font-size: 1rem; font-family: @font_stack; font-weight: 300; line-height: 1.1;
    background: transparent; .border_box(); outline: none;

    &:focus { outline: 3px solid @highlight; }
  }

  .fs-error { border-right: 3px solid @error !important; }
}

.fs-top { .border_radius(6px, 6px, 0, 0); border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.fs-mid { border-top: 1px solid rgba(255, 255, 255, 0.7); border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
.fs-bottom { border-top: 1px solid rgba(255, 255, 255, 0.7); }
.fs {
  .fs-combo-top, .fs-combo-mid, .fs-combo-bottom { height: 4.750rem; }
  .fs-combo-top { padding-bottom: 1rem; }
  .fs-combo-mid { padding-top: 1rem; padding-bottom: 1rem; height: 3.875rem; }
  .fs-combo-bottom { padding-top: 1rem; }
}
.fs-combo-top { border-bottom: 0; }
.fs-combo-mid { border-top: 0; border-bottom: 0; }
.fs-combo-bottom { border-top: 0; }
.fs-only { .border_radius_a(6px); }
.fs-full { clear: both; display: block; width: 100%; }
.fs-half { float: left; display: block; width: 50%; }
.fs-half:nth-child(odd) {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
.fs-half:nth-child(even) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.fs-half .fs-half { padding-right: 10%; padding-left: 10%; }
.fs-half .fs-half:nth-child(odd) { border-right: 1px solid rgba(0, 0, 0, 0.2); }
.fs-thirds, .fs-third { float: left; display: block; }
.fs-thirds { .border_radius(0, 0, 0, 6px); border-right: 1px solid rgba(0, 0, 0, 0.2); width: 67%; }
.fs-third { .border_radius(0, 0, 6px, 0); border-left: 1px solid rgba(255, 255, 255, 0.7); width: 33%; }
.fs-title { clear: both; margin: 2.1875rem 0 1.25rem; }
/*** Form - Image Upload ***/
.fs .label-photo { display: block; position: relative; max-width: 100%; max-height: 100%; }
.input-photo { position: absolute; top: 0; left: 0; width: 100%; height: 100%; visibility: hidden; }
.photo-preview { .border_radius_a(6px); width: 100%; max-width: 100%; height: 100%; max-height: 100%; }
@import "pages/home.less";
/* Sign Up */
#card_expiry { position: relative; .border_radius(0, 0, 0, 6px); .border_box(); }
.btn-create { margin-top: 1.875rem; margin-bottom: 1.875rem; }
label[for=agree_terms] {
  float: right; margin: 1.5rem 0 1.25rem; font-size: 1.5rem; font-weight: 300; color: #cecece;

  a { color: #cecece; text-decoration: underline; }
}
#card_expiry_year { .border_radius(0, 0, 0, 0); }
/* Vehicle List */
.vehicle-list .main { padding-top: 0; }
.m-vehicles {
  position: relative; left: -3.333333333%;  width: 106.666666667%;
}
.m-vehicle {
  position: relative;
  border-top: 1px solid #fff; border-bottom: 1px solid #ccc; padding: 0.5rem 0 0.5rem 25.78125%;
}
.m-vehicle:first-child { border-top: none; }
.m-vehicle > a { display: block; }
.m-vehicle-image { position: absolute; top: 4%; left: 1.5625%; max-width: 23%; max-height: 92%; }
.m-vehicle-price, .m-vehicle-name, .m-vehicle-desc { display: block; line-height: 1.1; }
.m-vehicle-price { font-size: 4.25rem; font-weight: bold; }
.m-vehicle-name { font-size: 2.25rem; }
.m-vehicle-desc { font-size: 1.75rem; }
.m-vehicles-add {
  display: block; border-top: 1px solid #fff; padding: 0 0 1rem;
  font-size: 3rem; font-weight: bold; text-align: center;
}
/* Account Information */
.account-photo { margin: 0 0 1rem; }
.fs-photo-account { margin: 0 auto; max-width: 160px; max-height: 160px; }
.account-photo .btn { display: none; }
/* Billing Information */
.m-billing, .m-billing { display: none; }
.m-billing-active, .m-billing-active { display: block; }
/* Vehicle - Add */
.f-vin { margin-bottom: 1rem; }
/* Vehicle - View */
.vehicle { margin-bottom: 1.875rem; }
.vehicle-notes { margin-top: 1.875rem; padding: 0 2%; font-weight: 200; }
/* Vehicle - Edit */
.photos-vehicle {
  position: relative; left: -3.333333333%; margin: 0.1875rem 0 -5rem; width: 106.666666667%;
  overflow: hidden; .clearfix();
}
.photos-vehicle-inner { display: block; width: 700%; .clearfix(); }
.photo-vehicle-wrapper { float: left; display: block; margin: 0 0 0 1.5625vw; border: 7px solid #fff; max-width: 93.75vw; }
.photo-vehicle { display: block; }
.photos-vehicle-single { display: block; width: 100%; .clearfix(); }
.photo-vehicle-single {
  .border_box(); position: relative; left: 1.5625%; border: 7px solid #fff; width: 96.875%; min-height: 247px;
}
.photo-vehicle-empty { height: 54.4921875vw; }
/* Vehicle - Edit Photos */
.vehicle-photos .main { padding-top: 2.125rem; }
.vehicle-photo { float: left; position: relative; margin: 0 7.5% 2.75rem 4.166666667%; width: 42.083333333%; height: 38.59375vw; }
.vehicle-photo-odd { margin: 0; }
.vehicle-photo .fs { height: 38.59375vw; }
.vehicle-photo .btn { display: none; }
.vehicle-photo-data .btn-create { margin-top: 0; }
