@import "includes.less";
@import "includes/reset.less";

/* General Styles */
/** Layout **/
.window { position: relative; width: 100%; min-height: 88vh; overflow: hidden; }
.main { position: relative; margin: 0 3.125%; padding: 0.5rem 0 0; .border_box(); .clearfix(); }
