@media only screen and (min-width: 540px) {
  /* Changes 'pages/home.less' */
  .auth .btn:last-child { float: right; }
  .auth .btn { width: 48.3333%; }
  /* Changes 'includes/form.less' */
  .fs-half { width: 48.571428571%; }
  .fs-half + .fs-half { float: right; }
}
